$color--alert-default-dark: #525252;
$color--alert-default-light: #F4F4F4;

$color--alert-info-dark: #1F475C;
$color--alert-info-light: #BAE2F7;

$color--alert-warning-dark: #5A491D;
$color--alert-warning-light: #F7E6BA;

$color--alert-success-dark: #115C1F;
$color--alert-success-light: #B4FFC2;

$color--alert-danger-dark: #5C0000;
$color--alert-danger-light: #FF9898;

